@inherits LayoutComponentBase

<div class="page">
@*     <div class="sidebar">
        <NavMenu />
    </div> *@


    <HeadContent>
        <link rel="stylesheet" href="css/bootstrap/spacelab/bootstrap.min.css" />
        <link rel="stylesheet" href="css/app.css" />
    </HeadContent>


    <main>
        <div class="top-row px-4">


              Visit our consulting agency:
            <a href="https://ainavigators.com/" target="_blank">AI Navigators</a>
            <br />
            <br />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
