@page "/"

<PageTitle>AI-Navigators</PageTitle>

<h1>Welcome to AI-Navigators</h1>

Here you will find resources to help you learn about AI and how to use it in your life and your work.



@* <ul>
    <li>Personal</li>
    <br />
    <li>Family</li>
    <br />
    <li>Parenting</li>
    <br />
    <li>Education</li>
    <br />

</ul> *@
<br />
<br />
Visit our consulting agency:
<li><a href="https://ainavigators.com/">AI Navigators.com</a></li>
<br />


<iframe	style="width: 400px; height: 600px;" src="https://app.fastbots.ai/embed/cltg0rdaf019urhb1x7xqbl53"></iframe>

