@page "/"

<PageTitle>AI-Navigators</PageTitle>




@* <iframe	style="width: 400px; height: 600px;" src="https://app.fastbots.ai/embed/cltg0rdaf019urhb1x7xqbl53"></iframe> *@


@* style="text-align: center" *@

@* <div class="topbar navbar navbar-expand-lg fixed-top bg-primary" data-bs-theme="dark"> *@

<div class="topbar navbar navbar-expand-lg fixed-top bg-primary" data-bs-theme="dark">
    <div class="row">
        <div class="col-lg-4 ">
            <div class="heading">
                <h1 style="color:white">AI-Navigators</h1>
            </div>
        </div>
        <div class="col-lg-8 ">
            <img src="/images/ai-nav-bg.png" class="img-fluid smallish" alt="artistic image by AI">
        </div>
    </div>
</div>
@* <div class="container-fluid ">

    <img src="/images/ai-nav-bg.png" class="img-fluid full-width" alt="artistic image by AI">
</div> *@
<br />
<br />


<div class="center-text large-bold-text">

    Discover resources to help you learn about AI and how to use it in your life and your work.
    <br />
    The AI revolution is here now!
</div>

<br />

<a href="#" class="btn btn-info btn-width">Experience AI.</a>
<br />
<br />
<a href="#" class="btn btn-info btn-width">Learn how.</a>
<br />
<br />
<a href="#" class="btn btn-info btn-width">Learn about.</a>
<br />
<br />

<div class="center-text large-bold-text">

    or ask a question about this site:
</div>


<br />
<br />
<iframe	style="width: 400px; height: 600px;" src="https://app.fastbots.ai/embed/cltg0rdaf019urhb1x7xqbl53"></iframe>




<br />
<br />
<!-- Full-width container -->
<div class="container-fluid ">

@*     <img src="/images/ai-nav-bg.png" class="img-fluid full-width" alt="artistic image by AI"> *@
</div>



<div>

</div>





<style>



    .debugcolor1 {
        background-color : pink
    }

    .debugcolor2{
        background-color: cyan
    }


    .btn-width {
        width: 300px;
        height: 40px;
    }


    .heading {
        color: white;
        margin: 2px;
        margin-left: 30px;
    }

    .topbar {

    }

    .large-bold-text {
        font-size: 24px; /* Adjust the size as needed */
        font-weight: bold; /* Makes the text bold */
    }


    .center-flex-horizontal {
        display: flex;
        justify-content: center;
    }


    img.full-width {
        width: 100%; /* Scale the width to 100% of the container */
        height: auto; /* Maintain the aspect ratio */
    }

    .smallish {
        width: 100px; /* Scale the width to 100% of the container */
        height: auto; /* Maintain the aspect ratio  class="img-fluid img.smallish" */
    }

.page-background {



/*       background-image: url('/images/ai-nav-bg.png'); */
}
</style>


@code {

}
